<div class="align-content-center">
    <p style="font-family:'Times New Roman', Times, serif; font-weight:bold">Email</p>
    <p><a href="#">ernest@mail.com</a></p>
    <p style="font-family:'Times New Roman', Times, serif; font-weight:bold">Phone Number</p>
    <p><a href="#">0547 589 5478</a></p>
</div>